<header>
	<nav>
		<ul>
			<li>
				<a href="{{ path('app_main') }}">Forum</a>
			</li>
		</ul>
		<ul>
			{% if app.user %}

				<li>
					<a href="{{ path('topic_create') }}" role="button">Create</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li>
						<a href="{{ path('admin_index') }}" role="button" class="secondary">Admin</a>
					</li>
				{% endif %}
                <li>
					<a href="{{ path('authentication_edit') }}" role="button">Me</a>
				</li>
				<li>
					<a href="{{ path('authentication_logout') }}">Logout</a>
				</li>
                
			{% else %}
				<li>
					<a href="{{ path('authentication_register') }}">Register</a>
				</li>
				<li>
					<a href="{{ path('authentication_login') }}" role="button">Connect</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>
